body{
    background-color: rgb(123, 102, 102);
}
.heading{
    position: relative;
    color: rgb(250, 173, 48);
}
.rotate-words{
    display: inline;
    margin-left: 10px;
    color: rgb(5, 250, 246);
}
.rotate-words span{
    width: max-content;
    position: absolute;
    background-color: #a782e2;
    padding-inline: 10px;
    opacity: 0;
    transform-origin: 10% 75%;
    animation: rotateWords 24s
    var(--s) linear infinite;
}
@keyframes rotateWords{
    5% { 
        opacity: 0;
    }
    10%,20% {
        opacity: 1;
        transform: rotate(4deg);
    }
    25% {
        opacity: 0;
        transform: translateY(90px) rotate(10deg);
    }
}
